{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="container home">
	<div class="row">
		<div class="col-md-12 left-sec">
			<h1>
				{{ page.heading|richtext }}
			</h1>
			<h4>
				{{ page.description|richtext }}
			</h4>
				{% include 'includes/searchbar.html' %}
			<br><br>
			<div class="row cards-row justify-content-center">
			{% with blocks=page.resource_card %}
				{% for block in blocks %}
					<div class="col-md-3">
						{{ block }}
					</div>
				{% endfor %}
			{% endwith %}
			</div>
		</div>

		<div class="col-md-6">
			
		</div>



	</div>
	
</div>

{% endblock content %}
