{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

{% endblock extra_css %}

{% block content %}

<div class="container home">
	<div class="row">
		<div class="col-md-7 left-sec">
			<h1>
				{{ page.heading|richtext }}
			</h1>
			<h4>
				{{ page.desc|richtext }}
			</h4>
				{% include 'includes/searchbar.html' %}
			<br><br>
			<div class="row cards-row justify-content-center">
			{% with blocks=page.service_card %}
				{% for block in blocks %}
					<div class="col-md-4">
						{{ block }}
					</div>
				{% endfor %}
			{% endwith %}
			</div>
		</div>

		<div class="col-md-5 right-img">
			<a target="_blank" href="https://www.facebook.com/groups/12976695105/permalink/10163520219570106">
				<img src="{% static 'img/tips.jpg' %}" height="775">
			</a>
		</div>

		<div class="col-md-6">
			
		</div>



	</div>
	
</div>

{% endblock content %}
