{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

{% endblock extra_css %}

{% block content %}

<div class="container single">
	<div class="row">
		<div class="col-md-12">
			<a href="/">
				<h4 style="margin-top: 3%;">
                    < Back to Main Menu
				</h4>
			</a>
			<br>
			<h1 class="single-service">
				{{ page.heading|richtext }}
			</h1>
		</div>

		<div class="card-columns">
			{% with blocks=page.content %}
				{% for block in blocks %}
					<div class="col-md-12">
						{{ block }}
					</div>
				{% endfor %}
			{% endwith %}
		</div>

	</div>
	
</div>
<br><br><br><br>
{% endblock content %}
