{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
    
<nav class="navbar navbar-expand-lg navbar-light">
<!--       <a class="logo navbar-brand" href="{% slugurl 'home' %}">
      	<img src="{% static 'svg/tw-logo.svg' %}" height="70">
      </a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navTog" aria-controls="navTog" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navv collapse navbar-collapse" id="navTog">
            <ul class="navbar-nav ml-auto">
            	<li class="nav-item">
                	<a class="nav-link" target="_blank" href="tel:301-546-8882">Call UTC 301-546-8882</a>
            	</li>            

	            <li class="nav-item">
	                <a class="nav-link" target="_blank" href="https://www.pgcc.edu/">PGCC Main Website</a>
	            </li>

	            <li class="nav-item">
	                <a class="nav-link" target="_blank" href="https://www.pgcc.edu/coronavirus/">PGCC COVID-19 Updates</a>
	            </li>

	            <li class="nav-item">
	                <a class="nav-link" target="_blank" href="tel:301-546-0637">Call Help Desk 301-546-0637</a>
	            </li>            

        </ul>

  </div>
</nav>




<style type="text/css">

.navv > ul {
  margin-top: 3%;
  margin-bottom: 3%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5%;
} 


.navbar-nav > li {
    margin-right: 0.9rem;
    margin-left: 0.9rem;
}

.nav-item > a {
	color: black;
  font-size: 21px;
  font-weight: 500;
  color: black;
  text-align: center;
  padding: 3px 16px;
  text-decoration: none;
}


.logo {
    float: left;
    width: 13%;
    margin-left: 5%;
}

.logo a:hover {
    color: #000;
    background-color: transparent;
    border-bottom: 0px solid transparent;
}

/*.navv {
  margin: 2% 3%;
  margin-bottom: 5%;
}*/

.navbar-light .navbar-nav .nav-link {
	color: white;
	padding: 0!important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #114B8B;
    background-color: white;
  }

.navbar {
  z-index: 999;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  background: #114B8B;
  box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

}

.collapse, .navbar-toggler, .navbar, .logo {
  margin-right: 5%;
}

.stick-bg {
  background-color: white;
}

a.activeMenuItem {
    color: #000;
    text-decoration: none;
    border-bottom: 9px solid #114B8B;
}


@media screen and (max-width: 768px) {

  .logo {
      width: 50%;
    }
}

@media screen and (min-width: 450px) and (max-width: 768px) {
  
 .logo {
      width: 25%;
}

}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,1);
    border-color: white;
}

</style>


<!-- <script type="text/javascript">
        $(document).ready(function(){
          $(window).scroll(function(){
            var scroll = $(window).scrollTop();
              if (scroll > 50) {
                $(".navbar").css("background" , "white");
                $(".navbar").css("box-shadow", "0 1px 6px 0 rgba(32,33,36,.28)");
              }

              else{
                    $(".navbar").css("background" , "transparent");  
                    $(".navbar").css("box-shadow", "none");
              }
          })
        })
</script> -->