<input id="ab" type="radio" name="country" value="Y">
<label for="ab">Antigua & Barbuda</label>

<input id="au" type="radio" name="country" value="Y">
<label for="au">Australia</label>

<input id="bah" type="radio" name="country" value="Y">
<label for="bah">Bahamas</label>

<input id="bar" type="radio" name="country" value="Y">
<label for="bar">Barbados</label>

<input id="bel" type="radio" name="country" value="Y">
<label for="bel">Belize</label>

<input id="ber" type="radio" name="country" value="Y">
<label for="ber">Bermuda</label>

<input id="ca" type="radio" name="country" value="Y">
<label for="ca">Canada</label>

<input id="ci" type="radio" name="country" value="Y">
<label for="ci">Cayman Island</label>

<input id="dom" type="radio" name="country" value="Y">
<label for="dom">Commonwealth of Dominica</label>

<input id="gre" type="radio" name="country" value="Y">
<label for="gre">Grenada</label>

<input id="guy" type="radio" name="country" value="Y">
<label for="guy">Guyana</label>

<input id="ir" type="radio" name="country" value="Y">
<label for="ir">Ireland</label>

<input id="jam" type="radio" name="country" value="Y">
<label for="jam">Jamaica</label>

<input id="mon" type="radio" name="country" value="Y">
<label for="mon">Montserrat</label>

<input id="nz" type="radio" name="country" value="Y">
<label for="nz">New Zealand</label>

<input id="kn" type="radio" name="country" value="Y">
<label for="kn">St. Kitts & Nevis</label>

<input id="lu" type="radio" name="country" value="Y">
<label for="lu">St. Lucia</label>

<input id="vg" type="radio" name="country" value="Y">
<label for="vg">St. Vincent & Grenadines</label>

<input id="tt" type="radio" name="country" value="Y">
<label for="tt">Trinidad & Tobago</label>

<input id="uk" type="radio" name="country" value="Y">
<label for="uk">United Kingdom</label>

<input id="vi" type="radio" name="country" value="Y">
<label for="vi">Virgin Islands</label>

<input id="na" type="radio" name="country" value="N">
<label for="na">N/A</label>