html {
  scroll-behavior: smooth;
  scroll-padding: 2em;
}

a {
    color: #114B8B;
}

body {
    font-family: poppins;
}

.page_main_title > .rich-text > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    color: #114B8B;
    margin-top: 15%;
}

.card-img > img {
    height: 100px;
    width: 100px;
}
.card {
    text-align: center;
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.13);
    border-radius: 13px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    border: none;
}

.card.single-service {
    text-align: left;
    margin: 2%;
}

.card:hover {
    transform: translateY(-5px) scale(1.05) translateZ(0);
    transition: .3s ease;
  }

.sec-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
    color: #D73F34;
}

.card-columns > .col-md-12 {
    padding: 0;
}

button > .rich-text > p > a {
    text-decoration: none;
    color: inherit;
}

.card-title > .rich-text > p {
    font-weight: 700;
    font-size: 1.7rem;
}


.left-sec {
    margin-top: 5%;
    padding-left: 5%;
}

.cards-row {
    margin-top: -5%;
    margin-bottom: 5%;
    margin-left: 6%;
    margin-right: 6%;
}

.custom-footer > a > div {
    color: white;
}

.custom-footer {
    background-color: #114B8B;
    width: 100vw!important;
    margin: 0!important;
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
}

h1 > .rich-text > p {
    font-size: 5rem;
    color: #114B8B;
    font-weight: 800;
    line-height: 5rem;
}

.single-service > .rich-text > p {
    font-size: 3.1rem;
    line-height: 2.5rem;
}

h4 > .rich-text > p {
    margin-bottom: 5%;
    font-size: 1.2rem;
}

.col-md-5 > a > img {
    width: 100%;
    height: 100%;
}

.container.home {
     max-width: 100%!important;   
}


.col-md-5.right-img {
    padding: 0!important;

}

.arrow > div > p {
    margin-bottom: 0;
    margin-top: 5%;
    margin-left: 6%;
}


.col-md-12 > a > .arrow-img {
    position: absolute;
    margin-bottom: 0;
    margin-top: 5%;
}

.footer-content {
    padding: 5px 50px;
    text-align: center;
}


.card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}


@media (max-width: 415px) {

    h1 > .rich-text > p {
        font-size: 3.5rem;
        color: #114B8B;
        font-weight: 800;
        line-height: 3.5rem;
        padding-top: 5%;
    }

    .single-service > .rich-text > p {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .arrow > div > p {
    margin-bottom: 0;
    margin-top: 5%;
    margin-left: 20%;
    }

    .container.single {
        width: 90%;
    }


}